




/*-----------------------------------------------------------------------------------------------------------------------------
-------------------------------------------------------------- Map ------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------------*/





/* MAP MAIN */

#map {
  position: fixed;
  top: 0;
  left: 0;
  width: var(--screen-width);
  height: var(--screen-height);
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
}







/*-----------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------- Neighborhood Overlay ----------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------------*/





/* BOX */

#neighborhoodBox {
  position: absolute;
  top: 50px;
  left: 50px;
  width: 400px;
  height: 645px;
  background-color: var(--b-white);
  border-radius: 40px;
  box-shadow: 0 2px 10px var(--b-gray-400);
  animation: opacity 0.5s forwards;
  display: none;
}





/* TITLE */

.neighborhoodBoxContent {
  margin: 40px;
}

#buurtName {
  position: absolute;
  top: 41px;
  left: 102px;
  margin-block-start: 0;
}

#buurtColor {
  display: inline-block;
  height: 46px;
  width: 46px;
  text-align: center;
  background-color: var(--p-orange);
  border-radius: 12px;
  margin: 0 12px 2px 0;
}

#buurtColor h3 {
  font-size: 24px;
  font-weight: 700;
  color: var(--b-white);
  margin-top: 9px;
}

.smallInfo {
  position: absolute;
  top: 103px;
  left: 100px;
  font-size: 17px;
  font-style: italic;
  color: var(--b-gray-500);
  margin: 0;
}

.smallInfoArea {
  left: 256px;
}

.smallInfo span {
  padding: 0 20px 0 5px;
}





/* TABLE */

table {
  width: 100%;
  border: none;
  border-radius: 20px;
  box-shadow: 0 2px 10px var(--b-gray-250);
  margin-top: 35px;
}

.tableHead {
  font-weight: bold;
  padding-left: 30px;
  width: 200px;
}

.tableContent {
  text-align: right;
  padding-right: 30px;
}

.topRow {
  padding-top: 25px;
}

.botRow {
  padding-bottom: 25px;
}





/* GRAPH */

#buurtGraph {
  margin: 30px 0 0 12px;
}







/*-----------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------- RIGHT SIDE MENU -------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------------*/



/* BUTTON ARRANGEMENT */

#rightMenu {
  position: fixed;
  right: calc(100vw - var(--screen-width));
  margin-right: 30px;
}





/* COLOR BUTTONS */

#colorBtns {
  margin: 140px 0 55px 0;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.colorBtnBG {
  width: 60px;
  height: 60px;
  background-color: var(--b-white);
  box-shadow: 0 2px 10px var(--b-gray-400);
  border-radius: 100%;
  margin-left: 20px;
}

.colorBtn {
  position: absolute;
  width: 52px;
  height: 52px;
  border-radius: 100%;
  margin: -55.5px 0 0 23.8px;
}

#greenBtn {
  background-color: var(--p-green);
}

#limeBtn {
  background-color: var(--p-lime);
}

#yellowBtn {
  background-color: var(--p-yellow);
}

#orangeBtn {
  background-color: var(--p-orange);
}

#redBtn {
  background-color: var(--a-red);
}



/* COLOR BTN LABELS */

.btnLabel {
  position: absolute;
  right: 11px;
  height: 60px;
  width: 175px;
  background-color: var(--b-white);
  border-radius: 30px;
  box-shadow: 0 2px 10px var(--b-gray-400);
  animation: labelAppear 0.6s forwards;
  display: none;
}

.btnLabel p {
  font-family: proxima-nova, sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 0;
  padding: 11px 0 0 22px;
}

.btnLabelClose {
  position: absolute;
  height: 30px;
  width: 30px;
  background-color: var(--b-white);
  border-radius: 100%;
  box-shadow: 0 2px 10px var(--b-gray-500);
  margin-top: 15px;
  animation: labelCloseAppear 0.6s forwards;
  display: none;
}

.btnLabelCloseIcon {
  padding: 5.5px 0 0 4px;
}

@keyframes labelAppear {
  from {width: 100px; opacity: 0;}
  to {width: 175px; opacity: 1;}
}

@keyframes labelDisappear {
  from {width: 175px; opacity: 1;}
  to {width: 100px; opacity: 0;}
}

@keyframes labelCloseAppear {
  from {margin-left: 40px; opacity: 0;}
  to {margin-left: 90px; opacity: 1;}
}

@keyframes labelCloseDisappear {
  from {margin-left: 90px; opacity: 1;}
  to {margin-left: 40px; opacity: 0;}
}





/* COMPASS */

#compassBG {
  width: 90px;
  height: 90px;
  background-color: var(--b-white);
  border-radius: 100%;
  margin-top: -11px;
}

#compassIcon {
  margin: 5px;
  transform: rotate(-45deg);
}

#north {
  height: 43px;
  width: 50px;
  text-align: center;
  background-color: var(--b-white);
  border-radius: 100% 100% 0 0;
  margin-left: 21px;
}

#north p {
  font-family: proxima-nova, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 28px;
  color: var(--b-gray-500);
  padding-top: 8px;
}

@keyframes buurtOpacityOut {
  from {opacity: 1;}
  to {opacity: 0.1;}
}

@keyframes buurtOpacityIn {
  from {opacity: 0.1;}
  to {opacity: 1;}
}







/*-----------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------- MAP -------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------------*/





/* COLORS */

.greenBuurt {
  fill: var(--p-green) !important;
}

.limeBuurt {
  fill: var(--p-lime) !important;
}

.yellowBuurt {
  fill: var(--p-yellow) !important;
}

.orangeBuurt {
  fill: var(--p-orange) !important;
}

.redBuurt {
  fill: var(--a-red) !important;
}





/* OPACITY */

#Path_288-2_1_, #Path_294-2_1_, #Path_285-2_1_, #Path_284-2_1_, #Path_291-2_1_, #Path_293-2_1_, #Path_295-2_1_, #Path_286-2_1_, #Path_283-2_1_, #Path_290-2_1_, #Path_292-2_1_, #Path_287-2_1_, #Path_289-2_1_ {
  fill: var(--b-white);
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}







/*-----------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------ Buttons ----------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------------*/





#buttons {
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
}




/* INTERACTIVE BUTTONS */

#menuBtn1, #menuBtn2, #menuBtn3 {
  position: fixed;
  bottom: calc(100vh - var(--screen-height));
  margin-bottom: 70px;
}

#menuBtn1 {
  left: 50px;
}

#menuBtn2 {
  left: 485px;
}

#menuBtn3 {
  right: calc(100vw - var(--screen-width));
  margin-right: 450px;
}

.menuBtn, .leftMenuBtn, .rightMenuBtn {
  position: absolute;
  text-align: center;
}

.menuBtn, .menuBtnBGFix {
  width: 400px;
  background-color: var(--b-white);
  box-shadow: 0 2px 10px var(--b-gray-450);
}

.menuBtn {
  height: 65px;
  border-radius: 35px 35px 0 0;
  bottom: 0;
}

.menuBtnBGFix {
  position: fixed;
  height: 55px;
  border-radius: 0 0 35px 35px;
}

.menuBtn h3 {
  color: var(--b-black);
  padding-top: 4px;
}





/* LEFT & RIGHT MENU BUTTONS */

.leftMenuBtn, .rightMenuBtn {
  width: 200px;
  height: 55px;
  background-color: var(--p-lime);
  border-bottom: var(--b-white) 3px solid;
  border-left: var(--b-white) 3px solid;
}

.leftMenuBtn {
  border-radius: 0 0 0 35px;
}

.rightMenuBtn {
  left: 200px;
  border-right: var(--b-white) 3px solid;
  border-radius: 0 0 35px 0;
}

.leftMenuBtn i, .rightMenuBtn i {
  display: inline-block;
  padding-top: 11px;
}

.btnText {
  position: absolute;
  display: inline-block;
  margin: 17px 10px;
}

#menuBtn2LeftIcon {
  margin-left: -45px;
}

#menuBtn2RightIcon {
  margin-left: -65px;
}

#menuBtn3LeftIcon {
  margin-left: -20px;
}

#menuBtn3RightIcon {
  margin-left: -30px;
}





/* LEFT & RIGHT MENU BUTTONS ANIMATIONS */

.leftMenuBtn, .rightMenuBtn, .btnText, .btnIconClass, .menuBtnSubBtn h3 {
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes btnActive {
  from {background-color: var(--p-lime);}
  to {background-color: var(--b-black);}
}

@keyframes btnDeactive {
  from {background-color: var(--b-black);}
  to {background-color: var(--p-lime);}
}

@keyframes btnIconActive {
  from {color: var(--b-black);}
  to {color: var(--b-white);}
}

@keyframes btnIconDeactive {
  from {color: var(--b-white);}
  to {color: var(--b-black);}
}





/* INTERACTIVE BUTTONS SUB MENU */

.menuBtnSub {
  display: none;
}

.menuBtnSubBtn {
  position: fixed;
  bottom: calc(100vh - var(--screen-height));
  height: 50px;
  width: 133px;
  text-align: center;
  background-color: var(--b-white);
  animation: subIn 0.5s forwards;
}

.menuBtnSubBtn h3 {
  margin-top: 16px;
}

.leftMenuBtnSub {
  border-radius: 25px 0 0 25px;
}

.middleMenuBtnSub {
  left: 183px;
  border-left: var(--b-gray-400) 3px solid;
  border-right: var(--b-gray-400) 3px solid;
}

.rightMenuBtnSub {
  left: 316px;
  border-radius: 0 25px 25px 0;
}

.menuBtnSubBGFix {
  height: 50px;
  width: 398px;
  border-radius: 25px;
  box-shadow: 0 2px 10px var(--b-gray-450);
}





/* SUB BUTTON SPECIFICATIONS */

#menuBtn2SubMiddle, #menuBtn2SubRight {
  margin-left: 434px;
}

#menuBtn3SubMiddle, #menuBtn3SubRight {
  margin-left: 868px;
}

#menuBtn1SubMiddle, #menuBtn2SubMiddle, #menuBtn3SubMiddle {
  background-color: var(--b-black);
}

#menuBtn1SubMiddleText, #menuBtn2SubMiddleText, #menuBtn3SubMiddleText {
  color: var(--b-white);
}





/* SUB BUTTON ANIMATIONS */

@keyframes subIn {
  from {margin-bottom: 125px; opacity: 0;}
  to {margin-bottom: 158px; opacity: 1;}
}

@keyframes subBtnIn {
  from {background-color: var(--b-white);}
  to {background-color: var(--b-black);}
}

@keyframes subBtnOut {
  from {background-color: var(--b-black);}
  to {background-color: var(--b-white);}
}

@keyframes subBtnTextIn {
  from {color: var(--b-black);}
  to {color: var(--b-white);}
}

@keyframes subBtnTextOut {
  from {color: var(--b-white);}
  to {color: var(--b-black);}
}
