




/*-----------------------------------------------------------------------------------------------------------------------------
-------------------------------------------------------------- Map ------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------------*/



/* MAP MAIN */

#map {
  position: fixed;
  top: 0;
  left: 0;
  width: var(--screen-width);
  height: var(--screen-height);
}







/*-----------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------- RIGHT SIDE MENU -------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------------*/



/* BUTTON ARRANGEMENT */

#rightMenu {
  position: fixed;
  right: calc(100vw - var(--screen-width));
  top: 40px;
  margin-right: 50px;
}



/* INFO BUTTON */

#infoBtnBG, #compassBG {
  width: 100px;
  height: 100px;
  background-color: var(--a-blue);
  border-radius: 100%;
  box-shadow: 0 2px 10px var(--b-gray-600);
}

#infoIcon, #compassIcon {
  position: absolute;
  margin: -95px 0 0 5px;
}



/* COLOR BUTTONS */

#colorBtns {
  margin: 50px 0;
}

.colorBtnBG {
  width: 60px;
  height: 60px;
  background-color: var(--b-white);
  box-shadow: 0 2px 10px var(--b-gray-500);
  border-radius: 100%;
  margin-left: 20px;
}

.colorBtn {
  position: absolute;
  width: 52px;
  height: 52px;
  border-radius: 100%;
  margin: -55.5px 0 0 23.8px;
}

#greenBtn {
  background-color: var(--p-green);
}

#limeBtn {
  background-color: var(--p-lime);
}

#yellowBtn {
  background-color: var(--p-yellow);
}

#orangeBtn {
  background-color: var(--p-orange);
}

#redBtn {
  background-color: var(--a-red);
}



/* COLOR BTN LABELS */

.btnLabel {
  position: absolute;
  right: 20px;
  height: 60px;
  width: 175px;
  background-color: var(--b-white);
  border-radius: 30px;
  box-shadow: 0 2px 10px var(--b-gray-500);
  animation: labelAppear 0.6s forwards;
  display: none;
}

.btnLabel p {
  font-family: proxima-nova, sans-serif;
  font-weight: 700;
  font-weight: 600;
  font-size: 20px;
  line-height: 0;
  padding-top: 2px;
  margin-left: 22px;
}

.btnLabelClose {
  position: absolute;
  height: 30px;
  width: 30px;
  background-color: var(--b-white);
  border-radius: 100%;
  box-shadow: 0 2px 10px var(--b-gray-500);
  margin-top: 15px;
  animation: labelCloseAppear 0.6s forwards;
  display: none;
}

.btnLabelCloseIcon {
  padding: 5.5px 0 0 4px;
}

@keyframes labelAppear {
  from {width: 100px; opacity: 0;}
  to {width: 175px; opacity: 1;}
}

@keyframes labelDisappear {
  from {width: 175px; opacity: 1;}
  to {width: 100px; opacity: 0;}
}

@keyframes labelCloseAppear {
  from {margin-left: 40px; opacity: 0;}
  to {margin-left: 90px; opacity: 1;}
}

@keyframes labelCloseDisappear {
  from {margin-left: 90px; opacity: 1;}
  to {margin-left: 40px; opacity: 0;}
}






/* COMPASS */

#compassBG {
  margin-top: -10px;
}

#compassIcon {
  transform: rotate(-45deg);
}

#north {
  height: 43px;
  width: 50px;
  text-align: center;
  background-color: var(--a-blue);
  border-radius: 100% 100% 0 0;
  box-shadow: 0 2px 10px var(--b-gray-600);
  margin-left: 25px;
}

#north p {
  font-family: proxima-nova, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 27px;
  color: var(--b-white);
  padding-top: 5px;
}

@keyframes buurtOpacityOut {
  from {opacity: 1;}
  to {opacity: 0.1;}
}

@keyframes buurtOpacityIn {
  from {opacity: 0.1;}
  to {opacity: 1;}
}





/*-----------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------- RIGHT SIDE MENU -------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------------*/


/* OPACITY */

#Path_288-2_1_, #Path_294-2_1_, #Path_285-2_1_, #Path_284-2_1_, #Path_291-2_1_, #Path_293-2_1_, #Path_295-2_1_, #Path_286-2_1_, #Path_283-2_1_, #Path_290-2_1_, #Path_292-2_1_, #Path_287-2_1_, #Path_289-2_1_ {
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}











/*-----------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------ Buttons ----------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------------*/



/* MAIN */

#buttons {

}



/* INTERACTIVE BUTTONS */

#menuBtn1, #menuBtn2, #menuBtn3 {
  position: fixed;
  bottom: calc(100vh - var(--screen-height));
  margin-bottom: 75px;
}

#menuBtn1 {
  left: 50px;
}

#menuBtn2 {
  left: 485px;
}

#menuBtn3 {
  right: calc(100vw - var(--screen-width));
  margin-right: 450px;
}

.menuBtn, .leftMenuBtn, .rightMenuBtn {
  position: absolute;
  text-align: center;
  box-shadow: 0 2px 10px var(--b-gray-500);
}

.menuBtn {
  width: 400px;
  height: 70px;
  background-color: var(--b-white);
  border-radius: 35px 35px 0 0;
  bottom: 0;
}

.menuBtn h3 {
  color: var(--b-black);
  padding-top: 4px;
}

.leftMenuBtn, .rightMenuBtn {
  width: 200px;
  height: 55px;
  border-bottom: var(--b-white) 3px solid;
  border-left: var(--b-white) 3px solid;
}

.leftMenuBtn i, .rightMenuBtn i {
  display: inline-block;
  padding-top: 11px;
}

.leftMenuBtn {
  background-color: var(--p-lime);
  border-radius: 0 0 0 35px;
}

.rightMenuBtn {
  left: 200px;
  background-color: var(--p-lime);
  border-right: var(--b-white) 3px solid;
  border-radius: 0 0 35px 0;
}

.btnText {
  display: inline-block;
  margin: 0 10px;
}

@keyframes btnActive {
  from {background-color: var(--p-lime);}
  to {background-color: var(--b-black);}
}

@keyframes btnDeactive {
  from {background-color: var(--b-black);}
  to {background-color: var(--p-lime);}
}

@keyframes btnIconActive {
  from {color: var(--b-black);}
  to {color: var(--b-white);}
}

@keyframes btnIconDeactive {
  from {color: var(--b-white);}
  to {color: var(--b-black);}
}

#menuBtn1Left, #menuBtn2Left, #menuBtn3Left, #menuBtn1Right, #menuBtn2Right, #menuBtn3Right, #menuBtn1LeftIcon, #menuBtn2LeftIcon, #menuBtn3LeftIcon, #menuBtn1RightIcon, #menuBtn2RightIcon, #menuBtn3RightIcon, #menuBtn2LeftIconText, #menuBtn2RightIconText, #menuBtn3LeftIconText, #menuBtn3RightIconText {
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}



/* INTERACTIVE BUTTONS SUB MENU */

.menuBtnSubBtn {
  position: fixed;
  height: 50px;
  width: 133px;
  text-align: center;
  background-color: var(--b-white);
  box-shadow: 0 2px 10px var(--b-gray-500);
  animation: subIn 0.5s forwards;
}

#menuBtn1Sub, #menuBtn2Sub, #menuBtn3Sub {
  display: none;
}

.menuBtnSub div h4 {
  margin-top: 15px;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.leftMenuBtnSub {
  border-radius: 25px 0 0 25px;
}

.middleMenuBtnSub {
  left: 183px;
  border-left: var(--b-gray-400) 3px solid;
  border-right: var(--b-gray-400) 3px solid;
}

.rightMenuBtnSub {
  left: 316px;
  border-radius: 0 25px 25px 0;
}

#menuBtn2SubMiddle, #menuBtn2SubRight {
  margin-left: 434px;
}

#menuBtn3SubMiddle, #menuBtn3SubRight {
  margin-left: 868px;
}

@keyframes subIn {
  from {bottom: 250px; opacity: 0;}
  to {bottom: 295px; opacity: 1;}
}

@keyframes subOut {
  from {bottom: 295px; opacity: 1;}
  to {bottom: 250px; opacity: 1;}
}

#menuBtn1SubMiddle, #menuBtn2SubMiddle, #menuBtn3SubMiddle {
  background-color: var(--b-black);
}

#menuBtn1SubMiddleText, #menuBtn2SubMiddleText, #menuBtn3SubMiddleText {
  color: var(--b-white);
}

@keyframes subBtnIn {
  from {background-color: var(--b-white);}
  to {background-color: var(--b-black);}
}

@keyframes subBtnOut {
  from {background-color: var(--b-black);}
  to {background-color: var(--b-white);}
}

@keyframes subBtnTextIn {
  from {color: var(--b-black);}
  to {color: var(--b-white);}
}

@keyframes subBtnTextOut {
  from {color: var(--b-white);}
  to {color: var(--b-black);}
}







/*-----------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------ INFORMATION PAGES ------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------------*/



/* OVERLAY */

#blackout {
  position: fixed;
  top: 0;
  left: 0;
  width: var(--screen-width);
  height: var(--screen-height);
  background-color: black;
  animation: opacity-9 0.4s forwards;
  display: none;
}

#closeInfoBtn {
  position: fixed;
  right: calc(100vw - var(--screen-width));
  top: 50px;
  margin-right: 50px;
  display: none;
}

#closeInfoBtnBG {
  width: 100px;
  height: 100px;
  background-color: var(--a-blue);
  border-radius: 100%;
  box-shadow: 0 2px 10px var(--b-gray-600);
}

#closeInfoIcon {
  position: absolute;
  margin: -95px 0 0 5px;
}
