




/*-----------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------ Colors -----------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------------*/



/* BASE COLORS */

:root {
  --b-white: #FFFFFF;
  --b-gray-100: #FAFAFA;
  --b-gray-200: #F0F0F0;
  --b-gray-300: #E1E1E1;
  --b-gray-400: #C8C8C8;
  --b-gray-500: #8C8C8C;
  --b-gray-600: #505050;
  --b-black: #1E1E1E;
}



/* PRIMARY COLORS */

:root {
  --p-green: #00B400;
  --p-lime: #9DDB57;
  --p-orange: #FB9D50;
  --p-yellow: #FFE39E;
  --p-yellow-alt: #EDCE80;
  --p-mint: #86DFC6;
}



/* ACTIONABLE COLORS */

:root {
  --a-blue: #005AE6;
  --a-red: #E10000;
}



/* SHORTHAND CLASSES */

.colorWhite {
  color: var(--b-white) !important;
}

.colorBlack {
  color: var(--b-black) !important;
}

.colorGreen {
  color: var(--p-green) !important;
}

.colorLime {
  color: var(--p-lime) !important;
}

.colorYellow {
  color: var(--p-yellow) !important;
}

.colorYellowAlt {
  color: var(--p-yellow-alt) !important;
}

.colorOrange {
  color: var(--p-orange) !important;
}

.colorRed {
  color: var(--a-red) !important;
}







/*-----------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------- Shorthand Classes -------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------------*/



/* STYLES */

.clickable {
  cursor: pointer;
}

.alignCenter {
  text-align: center;
}

.margin0 {
  margin: 0 !important;
}

.margin15 {
  margin: 7.5px 0 !important;
}



/* CONTENT SPACING */

.nanoFix {
  padding-top: 25px;
}



/* ANIMATIONS */

@keyframes opacity {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes opacity-rev {
  from {opacity: 1;}
  to {opacity: 0;}
}

@keyframes opacity-9 {
  from {opacity: 0;}
  to {opacity: 0.9;}
}

@keyframes opacity-9-rev {
  from {opacity: 0.9;}
  to {opacity: 0;}
}

@keyframes opacity-3 {
  from {opacity: 1;}
  to {opacity: 0.2;}
}

@keyframes opacity-3-rev {
  from {opacity: 0.2;}
  to {opacity: 1;}
}







/*-----------------------------------------------------------------------------------------------------------------------------
-------------------------------------------------------- Fonts & Text ---------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------------*/



/* HEADERS */

h1 {
  font-family: proxima-nova, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
  color: var(--b-black);
}

h2 {}

h3 {
  font-family: proxima-nova, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  line-height: 1.8rem;
  color: var(--b-gray-600);
}

h4 {
  font-family: proxima-nova, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 17px;
  color: var(--b-black);
}



/* PARAGRAPHS */

p, ul, th, td {
  font-family: acumin-pro,sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 18px;
  line-height: 30px;
  color: var(--b-black);
}

p a {
  font-style: italic;
  text-decoration: none;
  color: var(--p-mint);
}

.acumin-bold {
  font-weight: 600;
}







/*-----------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------- General -----------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------------*/



html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

:root {
  --screen-width: 1368px;
  --screen-height: 912px;
}

main {

  /********************************************************
  ****** KIOSK DIMENSIONS: 1368px wide x 912px heigh ******
  *********************************************************
  *************** DELETE FOR FINAL PROTOTYPE **************
  ********************************************************/

  width: var(--screen-width);
  height: var(--screen-height);
  overflow: hidden;
  background: var(--p-orange);
}
