




/*-----------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------ Colors -----------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------------*/





/* BASE COLORS */

:root {
  --b-white: #FFFFFF;
  --b-gray-200: #F0F0F0;
  --b-gray-300: #E1E1E1;
  --b-gray-400: #C8C8C8;
  --b-gray-450: rgba(0, 0, 0, 0.18);
  --b-gray-500: #8C8C8C;
  --b-gray-600: #505050;
  --b-black: #1E1E1E;
}





/* PRIMARY COLORS */

:root {
  --p-green: #00B400;
  --p-lime: #9DDB57;
  --p-orange: #FB9D50;
  --p-yellow: #FFE39E;
  --p-yellow-alt: #EDCE80;
}





/* ACTIONABLE COLORS */

:root {
  --a-blue: #005AE6;
  --a-red: #E10000;
}





/* SHORTHAND COLOR CLASSES */

.colorGreen {
  color: var(--p-green) !important;
}

.colorLime {
  color: var(--p-lime) !important;
}

.colorYellow {
  color: var(--p-yellow) !important;
}

.colorYellowAlt {
  color: var(--p-yellow-alt) !important;
}

.colorOrange {
  color: var(--p-orange) !important;
}

.colorRed {
  color: var(--a-red) !important;
}







/*-----------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------- Shorthand Classes -------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------------*/





/* STYLES */

.clickable {
  cursor: pointer;
}

.alignCenter {
  text-align: center;
}

.margin20 {
  margin: 10px 0 !important;
}





/* CONTENT SPACING */

.nanoFix {
  padding-top: 25px;
}

.smallFix {
  padding-top: 40px;
}





/* ANIMATIONS */

@keyframes opacity {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes opacity-rev {
  from {opacity: 1;}
  to {opacity: 0;}
}

@keyframes opacity-2 {
  from {opacity: 1;}
  to {opacity: 0.2;}
}

@keyframes opacity-2-rev {
  from {opacity: 0.2;}
  to {opacity: 1;}
}







/*-----------------------------------------------------------------------------------------------------------------------------
-------------------------------------------------------- Fonts & Text ---------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------------*/





/* HEADERS */

h1, h2, h3 {
  font-family: proxima-nova, sans-serif;
  font-style: normal;
}

h1 {
  font-weight: 700;
  font-size: 40px;
  color: var(--b-black);
}

h2 {
  font-weight: 600;
  font-size: 18.5px;
  line-height: 1.6rem;
  color: var(--b-gray-600);
}

h3 {
  font-weight: 600;
  font-size: 17px;
  color: var(--b-black);
}





/* PARAGRAPHS */

p, ul, th, td {
  font-family: acumin-pro,sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
  line-height: 30px;
  color: var(--b-black);
}

table, td, tr {
  border: none;
  border-collapse: collapse;
}

td {
  padding-bottom: 5px;
}







/*-----------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------- General -----------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------------*/





html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

:root {
  --screen-width: 1368px;
  --screen-height: 912px;
}

main {

  /********************************************************
  ****** KIOSK DIMENSIONS: 1368px wide x 912px heigh ******
  ********************************************************/

  width: var(--screen-width);
  height: var(--screen-height);
  overflow: hidden;
  background: var(--b-white);
}
