




/*-----------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------ Colors -----------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------------*/



/* ICON BASE COLORS */

.material-icons.b-white {
  color: var(--b-white);
}

.material-icons.b-gray-100 {
  color: var(--b-gray-100);
}

.material-icons.b-gray-200 {
  color: var(--b-gray-200);
}

.material-icons.b-gray-300 {
  color: var(--b-gray-300);
}

.material-icons.b-gray-400 {
  color: var(--b-gray-400);
}

.material-icons.b-gray-500 {
  color: var(--b-gray-500);
}

.material-icons.b-gray-600 {
  color: var(--b-gray-600);
}

.material-icons.b-black {
  color: var(--b-black);
}



/* ICON PRIMARY COLORS */

.material-icons.p-green {
  color: var(--p-green);
}

.material-icons.p-lime {
  color: var(--p-lime);
}

.material-icons.p-orange {
  color: var(--p-orange);
}

.material-icons.p-yellow {
  color: var(--p-yellow);
}

.material-icons.p-mint {
  color: var(--p-mint);
}



/* ICON ACTIONABLE COLORS */

.material-icons.a-blue {
  color: var(--a-blue);
}
.material-icons.a-red {
  color: var(--a-red);
}







/*-----------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------- Sizes -----------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------------*/



.material-icons.extra-small {
  font-size: 18px;
}

.material-icons.small {
  font-size: 22px;
}

.material-icons.regular {
  font-size: 26px;
}

.material-icons.medium {
  font-size: 30px;
}

.material-icons.large {
  font-size: 40px;
}

.material-icons.extra-large {
  font-size: 55px;
}
