




/*-----------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------ Colors -----------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------------*/




/* ICON BASE COLORS */

.material-icons-outlined.b-white, .material-icons-round.b-white {
  color: var(--b-white);
}

.material-icons-outlined.b-gray-200, .material-icons-round.b-gray-200 {
  color: var(--b-gray-200);
}

.material-icons-outlined.b-gray-300, .material-icons-round.b-gray-300 {
  color: var(--b-gray-300);
}

.material-icons-outlined.b-gray-400, .material-icons-round.b-gray-400 {
  color: var(--b-gray-400);
}

.material-icons-outlined.b-gray-500, .material-icons-round.b-gray-500 {
  color: var(--b-gray-500);
}

.material-icons-outlined.b-gray-600, .material-icons-round.b-gray-600 {
  color: var(--b-gray-600);
}

.material-icons-outlined.b-black, .material-icons-round.b-black {
  color: var(--b-black);
}





/* ICON PRIMARY COLORS */

.material-icons-outlined.p-green, .material-icons-round.p-green {
  color: var(--p-green);
}

.material-icons-outlined.p-lime, .material-icons-round.p-lime {
  color: var(--p-lime);
}

.material-icons-outlined.p-orange, .material-icons-round.p-orange {
  color: var(--p-orange);
}

.material-icons-outlined.p-yellow, .material-icons-round.p-yellow {
  color: var(--p-yellow);
}





/* ICON ACTIONABLE COLORS */

.material-icons-outlined.a-blue, .material-icons-round.a-blue {
  color: var(--a-blue);
}

.material-icons-outlined.a-red, .material-icons-round.a-red {
  color: var(--a-red);
}







/*-----------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------- Sizes -----------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------------*/





/* ICON SIZES */

.material-icons-outlined.small, .material-icons-round.small {
  font-size: 22px;
}

.material-icons-outlined.medium, .material-icons-round.medium {
  font-size: 33px;
}

.material-icons-outlined.large, .material-icons-round.large {
  font-size: 80px;
}
