




/*-----------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------ Colors -----------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------------*/



/* ICON BASE COLORS */

.material-icons-outlined.b-white, .material-icons-round.b-white {
  color: var(--b-white);
}

.material-icons-outlined.b-gray-100 {
  color: var(--b-gray-100);
}

.material-icons-outlined.b-gray-200 {
  color: var(--b-gray-200);
}

.material-icons-outlined.b-gray-300 {
  color: var(--b-gray-300);
}

.material-icons-outlined.b-gray-400 {
  color: var(--b-gray-400);
}

.material-icons-outlined.b-gray-500 {
  color: var(--b-gray-500);
}

.material-icons-outlined.b-gray-600 {
  color: var(--b-gray-600);
}

.material-icons-outlined.b-black, .material-icons-round.b-black {
  color: var(--b-black);
}



/* ICON PRIMARY COLORS */

.material-icons-outlined.p-green, .material-icons-round.p-green {
  color: var(--p-green);
}

.material-icons-outlined.p-lime, .material-icons-round.p-lime {
  color: var(--p-lime);
}

.material-icons-outlined.p-orange, .material-icons-round.p-orange {
  color: var(--p-orange);
}

.material-icons-outlined.p-yellow, .material-icons-round.p-yellow {
  color: var(--p-yellow);
}

.material-icons-outlined.p-mint, .material-icons-round.p-mint {
  color: var(--p-mint);
}



/* ICON ACTIONABLE COLORS */

.material-icons-outlined.a-blue, .material-icons-round.a-blue {
  color: var(--a-blue);
}

.material-icons-outlined.a-red, .material-icons-round.a-red {
  color: var(--a-red);
}







/*-----------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------- Sizes -----------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------------*/



.material-icons-outlined.extra-small, .material-icons-round.extra-small {
  font-size: 18px;
}

.material-icons-outlined.small, .material-icons-round.small {
  font-size: 22px;
}

.material-icons-outlined.regular, .material-icons-round.regular {
  font-size: 26px;
}

.material-icons-outlined.medium, .material-icons-round.medium {
  font-size: 33px;
}

.material-icons-outlined.large, .material-icons-round.large {
  font-size: 50px;
}

.material-icons-outlined.extra-large, .material-icons-round.extra-large {
  font-size: 80px;
}
